<form method="POST" action = "/courses/store"> {{! --  action to url -> post để lấy dữ liệu trên route, }}
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học: </label>
    <input type="text" class="form-control" name="name" id="name"   aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="descripton" class="form-label">Mô tả</label>
    <input type="text" class="form-control" name="descripton" id="descripton"  aria-describedby="emailHelp">
  </div>
    <div class="mb-3">
    <label for="image" class="form-label">link ảnh</label>
    <input type="text" class="form-control" name="image" id="descripton"  aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Thêm Khóa học </button>
</form>