<footer class="text-center text-white fixed-bottom" style="background-color: #cdcfc2;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->


  <div class="text-center p-3" style="background-color: rgba(218, 205, 205, 0.2);">
    <a class="text-white" href="https://google.com/">Beast</a>
  </div>

</footer>